   $body-color                 : #fff;
   $background-color           : #fff;
   $code-background-color      : #EDEDEB;
   $code-text-color           : #E65555;
   $code-background-color-dark : $light-gray;
   $text-color                 : $dark-gray;
   $border-color               : $lighter-gray;
